<ion-nav-view>
    <ion-view view-title="Login" class="signhome">
	     <img src="img/background.jpg"></img>
       <ion-content scroll="false" >
       <span >Beta Version : 0.0.2</span>
          <div id="signhomeLogo">
            <img src="img/logo.png"></img>
            <p>MUSICONE</p>

  	      </div>
         <div>
           <!--  <button class="button button-block button-login" ui-sref="signin">Sign In</button>
            <button class="button button-block button-register" ui-sref="signup">Sign Up</button> -->
             <button class="button button-block button-positive" ng-click="window.plugins.AdMob.createBannerView();">
              Login with Facebook
              </button>
        </div>    
      </ion-content>
    </ion-view>
</ion-nav-view>




