
  <ion-modal-view view-title="New Message">

    <ion-header-bar>
      <button class="button button-icon "   ng-click="closeSMS()">
       Close
      </button>
      <button class="button button-icon "   ng-click="openModal()">
      Send<i class="ion-arrow-right-a"></i>
      </button>
    </ion-header-bar>

    <ion-content class="padding">
 
     <div class="list" class="bar bar-header bar-positive">
        <form ng-submit="search(this)" class=" item-input-inset musicone-searchbar" >
	    <label class="item-input-wrapper" >
	        <i class="icon ion-ios-search placeholder-icon"></i>
	        <input type="search"  placeholder="To" name="query" ng-model="query">
	         <button class="button-small button-clear  ion-close-round"></button>
	    </label>
	   
    </form>

      </div>
    
    </ion-content>
  </ion-modal-view>

